*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
    user-select: none;
}

main{
    background-image: url(../image/5192479.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 800px;
}
/*================================= nav section stard============================ */
nav{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(247, 42, 42, 0.284);
    height: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    margin: 10px 0px;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    padding: 8px 15px;
    color: rgb(255, 37, 37);
    background-color: black;
    border-radius: 15px;
    transition: 1s;
}

.gust{
    background-color: rgb(255, 255, 255);
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 15%;
}

.logo{
    height: 120px;
    width: 120px;    
}

.title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(253, 28, 28);
}
/*================================= nav section end=============================== */
/*================================= body section stard============================ */

.main_continer{
    height: 400px;
    width: 550px;
    background: orangered;
    display: flex;
    margin: auto;
    margin-top: 90px;
}


.contener{
    height: 400px;
    width: 300px;
    background: rgb(28, 66, 234);
    text-align: center;
    padding-top: 50px;
    padding: 30px;
}

.main_continer img{
    height: 300px;
    width: 200px;
    margin: auto;
}
.btndiv{
    height: 50px;
    width: 550px;
    margin: auto;
    background-color: aliceblue;
    padding: 0px 200px;
}
.btn{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: inline;
    font-size: 40px;
}


